}
h1 {font-family: "Pacifico"}

.topnav a {
  float: center;
  display: block;
  color: #C1DB6F;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;

body {
  text-align: center;
}

head {
  text-align: center;
}

h2 {
font-family: 'Cinzel';
font-weight: bold;
color: black;
text-align: center;
}

h6 {
font-family: Roboto;
color: lightGray;
text-align: center;
}

