}
h1 {font-family: "Pacifico"}

}

topnav {
  background-color: #FFFFFF;
  overflow: hidden;
}

topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

topnav a:hover {
  background-color: #ddd;
  color: black;
}

body {
  text-align: center;
}

head {
  text-align: center;
}

h2 {
font-family: 'Cinzel';
font-weight: bold;
color: black;
text-align: center;
}

h6 {
font-family: Roboto;
color: lightGray;
text-align: center;
}

